.container {
  display: flex;
  padding-bottom: 4rem;
  color: #212529;
}

.container p {
  font-size: 1.8rem;
}

.container h1 {
  font-weight: 600;
  font-size: 4rem;
  margin-top: 5rem;
}

.container h3 {
  color: red;
  font-weight: 600;
  font-size: 3rem;
}

.container ul {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  flex-wrap: wrap;
  margin-right: 5rem;
}

.container li {
  display: block;
}

.container li:not(:last-child)::after {
  content: ",\00a0";
}

.container li:last-child::after {
  content: ".";
}

.added {
  color: green;
}

/*left side */
.imgNotFound {
  display: flex;
  color: #ffff;
  background-color: black;
  height: 35rem;
  width: 55rem;
  font-size: 2.4rem;
  border-radius: 1rem;
  margin: 14rem auto 0 auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.leftSide {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  
  justify-self: center;
  justify-content: center;
  justify-items: center;
}

.imageContainer img {
  margin: 14rem auto 0 auto;
  justify-items: center;
  border-radius: 1rem;
  width: 55rem;
  height: auto;
}

.handlers {
  margin: 4rem 0rem;
}
.handlers form {
  display: grid;
  justify-items: center;
}

.handlers label {
  font-size: 2.4rem;
}

.handlers select {
  border-right: 10px solid #69db7c;
  font-size: 2rem;
  background-color: #69db7c;
  width: 30rem;
  border-radius: 50rem;
  overflow: visible;
  padding: 0.4rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.handlers select option {
  background-color: #fff;
}

/*right side*/

.rightSide {
  flex: 1;
  margin-left: 5rem;
  width: 50vw;
  max-width: 70rem;
  margin-top: 8rem;
}

/*Heading*/

.heading {
  display: flex;
  max-width: 70rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.collection a {
  font-size: 1.6rem;
  background-color: #87ceebff;
  border-radius: 50rem;
  padding: 0.5rem 1.2rem;
}
.collection a:hover {
  background-color: #00abe4ff;
}
/*Buttons*/
/*add*/

.buttons {
  margin-bottom: 3rem;
}
.buttonAdd button {
  background-color: #69db7c;

  padding: 0.8rem;
  border-radius: 50rem;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 3rem;
}

.buttonAdd select option {
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.buttonAdd button:hover {
  background-color: #37b24d;
}

.buttonAdd button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

/*delete*/
.buttonDelete button {
  background-color: #ff5252ff;
  padding: 1rem;
  border-radius: 50rem;
  font-size: 1.6rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 3rem;
  white-space: nowrap;
}

.buttonDelete button:hover {
  background-color: #e03c3cff;
}

.buttonDelete button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.dateAdded {
  font-size: 2rem;
  font-weight: normal;
}

.deleteBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.infoGrid {
  display: grid;
  font-size: 2rem;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 5rem;
}

.infoGrid h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
}

.infoGrid {
  font-size: 2rem;
  padding: 0;
}

.notInCollection {
  font-weight: normal;
}
.collection {
  font-size: 2rem;
  font-weight: 600;
}

.buttonDelete {
  display: flex;
  margin-top: 6rem;
  /* align-items: center; */
}

/*media handling*/

@media (max-width: 1600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container h1 {
    margin-top: 0rem;
  }

  .leftSide {
    width: auto;
    margin: 0rem 2rem;
  }
  .imageContainer {
    margin: 2rem auto 0 auto;
  }

  .imageContainer img {
    margin-top: 0rem;
  }

  .rightSide {
    margin-top: 2rem;
    margin: 0rem 2rem 2rem 2rem;
  }

  .rightSide p {
    margin: 0rem;
    padding: 0.6rem;
  }

  .heading {
    flex-direction: column;
  }

  .name {
    display: flex;
    justify-content: center;
  }

  .handlers {
    margin: 1rem 0rem;
  }

  .buttonDelete {
    margin-top: 3rem;
  }
}

@media (max-width: 1100px) {
  .container ul {
    flex-wrap: wrap;
  }

  .heading {
    max-width: none;
    flex-direction: column;
  }
  .rightSide {
    width: auto;
    margin: 0rem 2rem 2rem 2rem;
  }
}
