.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b2f2bbf1;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
}
.modalDown {
  animation: dropDown 0.3s forwards;
}

.modalUp {
  animation: dropUp 0.5s ease forwards;
}

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* ///////////////////////////////////////////// */

.editBtn button {
  font-size: 1.6rem;
  color: blue;
}

.finishedPlayingContainer {
  margin: 30rem 5rem 0rem 5rem;
  height: 13rem;
  width: 36rem;
  font-size: 1.8rem;
  background-color: #ebfbee;
  border-radius: 1rem;
}

.formContainer {
  display: grid;
  height: 13rem;
  width: 36rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.formContainer label {
  margin-top: 0.5rem;
  grid-column: 1 / 3;
}

.input {
  grid-column: 1 / 3;
  margin-top: 0.5rem;
}

.submitBtn {
  display: flex;
  justify-content: center;
  border-top: 0.1rem solid gray;
  flex: 1;
  border-right: 0.1rem solid gray;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  border-top: 0.1rem solid gray;
  flex: 1;
}

.submitBtn {
  width: 100%;
  height: 100%;
}

.submitBtn button {
  width: 100%;
  height: 100%;
}

.cancelBtn {
  width: 100%;
  height: 100%;
}

.cancelBtn button {
  width: 100%;
  height: 100%;
}
